table.table 
    thead
        tr 
            th.table__cell.table__temp Temp
            th.table__cell.table__description Descripcion 
            th.table__cell.table__icon icono 
    tbody
        tr.table__info#table-info 
            td.table__cell
            td.table__cell
            td.table__cell